.uberview-header-text {
  padding-left: 5%;
  font-family: 'Audiowide';
  color: white;
  font-size: x-large;
}

.uberview-graph {
  height: 50vh;
}

.modal-content {
  border-radius: 5px;
}
