<template>
  <q-layout view="HHH lPr FFF">
    <!--
    <q-modal no-backdrop-dismiss
             no-esc-dismiss
             v-if="!isLoggedIn"
             ref="loginScreen">
      <Login @loggedIn="loggedIn"></Login>
    </q-modal>
    -->
    <q-toolbar slot="header">
      <q-toolbar-title :padding="0">
        <div class="uberview-header-text">Überview</div>
        <div v-if="currentUser !== ''" id="currentUser-div">
          {{ currentUser }}
        </div>
        <a id="link" target="_blank">json</a>
      </q-toolbar-title>
    </q-toolbar>
    <div class="row">
      <div class="col-2" />
      <div class="col-8">
        <SearchBar></SearchBar>
      </div>
      <div class="col-2">
        <Username />
      </div>
    </div>
    <Graph class="uberview-graph" :graphData="graphData"></Graph>
    <q-toolbar slot="footer">
      <q-toolbar-title :padding="0">
        <div class="uberview-footer-text"></div>
      </q-toolbar-title>
    </q-toolbar>
  </q-layout>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Login from "../components/dialogs/Login.vue";
import Graph from "../components/Graph.vue";
import SearchBar from "../components/SearchBar.vue";
import Username from "../components/Username.vue";

@Component({
  components: {
    Graph,
    Login,
    SearchBar,
    Username
  }
})
export default class Uberview extends Vue {
  get graphData(): any {
    return this.$store.state.graphData;
  }

  get isLoggedIn() {
    return this.$store.state.currentUser !== "";
  }

  get currentUser() {
    return this.$store.state.currentUser;
  }

  public mounted() {
    /*
    if (!this.isLoggedIn) {
      (<any>this.$refs.loginScreen).open();
    }
    if (this.$store.state.username == null) {
      // let loginDialog: any = new Login();
      // loginDialog.open();
    }
    */
  }

  public loggedIn() {
    // this.$store.dispatch('whoami');
    //  (<any>this.$refs.loginScreen).close();
  }

  public addClicked() {
    alert("add clicked");
  }
}
</script>
