<template>
  <table>
    <tr>
      <td>
        <q-input v-model="value.label" placeholder="Label" dense />
      </td>
      <td>
        <q-input v-model="value.value" placeholder="Value" dense />
      </td>
      <td>
        <q-input v-model="value.type" placeholder="Type" dense />
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { NodeContentViewModel } from "@/models/NodeViewModel";

@Component
export default class ContentEdit extends Vue {
  @Prop() public value: NodeContentViewModel;
}
</script>
