<template>
  <div id="uberview-graph-id">
    <EditNode
      :showDialog="showDialog"
      :AddEditViewModel="AddEditViewModel"
      v-on:dialog-closed="handleCloseDialog"
    ></EditNode>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn round flat icon="add" @click="addClicked"></q-btn>
    </q-page-sticky>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import cytoscape from "cytoscape";
import cxtmenu from "cytoscape-cxtmenu";
import CommandsForNode from "../lib/CommandsForNode";
import { NodeViewModel, NodeContentViewModel } from "../models/NodeViewModel";
import { Component, Prop, Watch } from "vue-property-decorator";
import EditNode from "./dialogs/EditNode.vue";

cxtmenu(cytoscape);

@Component({
  components: {
    EditNode
  }
})
export default class Graph extends Vue {
  @Prop() public graphData: any[];
  private cy;
  private myMenu;
  private showDialog = false;
  private AddEditViewModel = new NodeViewModel();

  public addClicked() {
    this.AddEditViewModel = new NodeViewModel();
    this.showDialog = true;
  }
  public handleCloseDialog() {
    this.showDialog = false;
  }
  public mounted() {
    let nvm = new NodeContentViewModel();
    nvm.label = "title";
    nvm.type = "text";
    nvm.value = "";
    this.AddEditViewModel.Contents.push(nvm);
    this.cy = cytoscape({
      container: document.getElementById("uberview-graph-id"), // container to render in
      elements: this.graphData,
      layout: {
        avoidOverlap: true,
        name: "circle"
      },
      style: [
        {
          // the stylesheet for the graph
          css: {
            // 'background-image': 'statics/test.svg',
            // 'background-color': '#660',
            // 'label': 'data(label)',
            content: "data(label)",
            shape: "rectangle",
            "text-valign": "center",
            width: "label"
          },
          selector: 'node[type="node"]'
        },
        {
          css: {
            "line-color": "#ccc",
            "target-arrow-color": "#ccc",
            "target-arrow-shape": "triangle",
            width: 3
          },
          selector: "edge"
        },
        {
          css: {
            "background-color": "#0f0",
            label: "data(id)"
          },
          selector: 'node[type="tag"]'
        }
      ]
    });
    this.cy.on("tap", "node", this.nodeLeftClick);
    // the default values of each option are outlined below:
    const defaults = {
      activeFillColor: "rgba(92, 194, 237, 0.75)", // the colour used to indicate the selected command
      activePadding: 20, // additional size in pixels for the active command
      atMouse: true, // draw menu at mouse position
      commands: CommandsForNode(this),
      fillColor: "rgba(0, 0, 0, 0.75)", // the background colour of the menu
      indicatorSize: 24, // the size in pixels of the pointer to the active command
      itemColor: "white", // the colour of text in the command's content
      itemTextShadowColor: "black", // the text shadow colour of the command's content
      maxSpotlightRadius: 38, // the maximum radius in pixels of the spotlight
      menuRadius: 50, // the radius of the circular menu in pixels
      minSpotlightRadius: 24, // the minimum radius in pixels of the spotlight
      //openMenuEvents: 'cxttapstart taphold', // space-separated cytoscape events that will open the menu; only `cxttapstart` and/or `taphold` work here
      openMenuEvents: "cxttapstart taphold", // space-separated cytoscape events that will open the menu; only `cxttapstart` and/or `taphold` work here
      selector: "node", // elements matching this Cytoscape.js selector will trigger cxtmenus
      separatorWidth: 3, // the empty spacing in pixels between successive commands
      spotlightPadding: 4, // extra spacing in pixels between the element and the spotlight
      zIndex: 9999 // the z-index of the ui div
    };

    this.myMenu = this.cy.cxtmenu(defaults);
  }

  @Watch("graphData")
  private elementsChanged(val: any[], oldVal: any[]) {
    this.cy.elements().remove();
    this.cy.add(val);
    this.cy.reset();
    const layout = this.cy.layout({
      avoidOverlap: true,
      name: "circle"
    });
    // let layout = this.cy.layout({ name: 'circle', avoidOverlap: true } as Cy.GridLayoutOptions) as Cy.LayoutInstance;
    layout.run();
    this.setExportLink();
  }

  private setExportLink() {
    const str = JSON.stringify(this.cy.json());

    // Save the file contents as a DataURI
    const dataUri =
      "data:application/octet-stream;charset=utf-8," + encodeURIComponent(str);

    // Write it as the href for the link
    const link = document.getElementById("download_link") as HTMLAnchorElement;
    link.href = dataUri;
    link.download = "result.json";
  }

  private nodeLeftClick(event) {
    if (event.target.data().type === "node") {
      const targetUrl = event.target
        .data()
        .contents.find(o => o.label === "Target").content;
      const win = window.open(targetUrl, "_blank");
      win.focus();
    }
  }
}
</script>
