<template>
  <q-input
    :value="InputText"
    @keyup.enter="InputTextChanged"
    class="full-width"
  />
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
// import * as Parser from './parser.js'

@Component
export default class SearchBar extends Vue {
  get InputText() {
    return this.$store.state.query;
  }

  public InputTextChanged(e) {
    if (e.target.value) {
      // let query = Parser.parse(e.target.value.toLowerCase(), {});
      this.$store.commit("queryChanged", e.target.value);
      this.$store.dispatch("loadNodes");
    }
  }
  public DisplayKey(key) {
    alert(`Key pressed ${key.keyCode}`);
  }
}
</script>
