<template>
  <div>
    <q-input v-model="Username" class="full-width" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class Username extends Vue {
  get Username() {
    return this.$store.state.currentUser;
  }
  set Username(newval) {
    this.$store.commit("updateUsername", newval);
  }
}
</script>

<style></style>
