<template>
  <q-dialog no-backdrop-dismiss persistent v-model="dialogOpen">
    <q-card class="q-pa-sm">
      <q-form ref="NodeEditForm">
        <q-bar>
          <div>Edit Node</div>
        </q-bar>
        <table>
          <tr>
            <q-input
              v-model="Title"
              placeholder="Title"
              label="Title"
              :rules="[val => !!val || 'Field is required']"
              dense
            />
          </tr>
          <tr v-for="(item, index) in contentLines">
            <td><ContentEdit v-model="contentLines[index]" /></td>
          </tr>
        </table>

        <q-btn dense icon="add" @click="addEntry()" />
        <q-select
          label="Tags"
          use-input
          v-model="AddEditViewModel.tags"
          new-value-mode="add-unique"
          use-chips
          stack-label
          multiple
          hide-dropdown-icon
          input-debounce="0"
        />

        <q-btn v-close-popup>Cancel</q-btn>
        <q-btn class="primary" type="submit" @click="save" v-close-popup
          >Save</q-btn
        >
      </q-form>
    </q-card>
  </q-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import {
  NodeViewModel,
  NodeContentViewModel
} from "../../models/NodeViewModel";
import ContentEdit from "../ContentEdit.vue";

@Component({
  components: {
    ContentEdit
  }
})
export default class EditNode extends Vue {
  @Prop() public showDialog: boolean;
  @Prop() public AddEditViewModel: NodeViewModel;

  addEntry() {
    this.AddEditViewModel.AddContent(new NodeContentViewModel());
  }
  get contentLines() {
    return this.AddEditViewModel.Contents.filter(o =>
      o.label ? o.label.toLowerCase() !== "title" : true
    );
  }

  get Title(): string {
    let t = this.AddEditViewModel.Contents.find(
      o => o.label && o.label.toLowerCase() === "title"
    );
    if (t) {
      return t.value;
    }
    return "";
  }
  set Title(value) {
    this.AddEditViewModel.setTitle(value);
  }

  get dialogOpen() {
    return this.showDialog;
  }
  set dialogOpen(value) {
    if (!value) {
      this.$emit("dialog-closed");
    }
  }
  get chipsTags() {
    return this.AddEditViewModel.tags;
  }

  public async save() {
    let form = this.$refs.NodeEditForm;
    let success = await form.validate();
    if (success) {
      console.log("validated");
      this.$store.dispatch("addOrUpdateNode", this.AddEditViewModel);
    }
  }

  get tagsAsString() {
    return this.AddEditViewModel.tags.toString();
  }

  set tagsAsString(val) {
    this.AddEditViewModel.tags = val.split(",");
  }

  public cancel() {}
}
</script>
