<template>
  <div>
    {{ loggedIn }}
    <q-toolbar slot="header">
      Login
    </q-toolbar>
    <table>
      <tr>
        <td>Username:</td>
        <td><input id="username-input" v-model="username" /></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <input id="password-input" v-model="password" type="password" />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button id="login-button" @click="login">Login/Signup</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <small>new users will automatically be created on first login</small>
        </td>
      </tr>
    </table>

    <hr />

    <div v-show="error" style="color:red; word-wrap:break-word;">
      {{ error }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
// cls VueAuth extends Vue {
// $auth: any
// }

@Component
export default class Login extends Vue {
  public error = false;
  public password = "";
  public username = "";

  get loggedIn() {
    if (this.$store.state.currentUser !== "") {
      this.$emit("loggedIn");
    }
    return null;
  }

  public login() {
    this.$store.dispatch("logup", {
      password: this.password,
      username: this.username
    });
    console.log("logging in...");
  }
}
</script>
